div.basket {
    margin:0em 1em 2em 1em;
}

div.paymentcheckout {
    padding: 1em 2em 1em 2em;
}

div.paymentcheckout h4:not(:nth-child(1)) {
    margin-top:2em
}

div.paymentcheckout > div {
    border-collapse: separate;
    width:80%;
    margin:auto;
    border:solid 1px #ddd;
    padding: 1em 1em 1em 1em;
}


div.paymentcheckout table {
    border-collapse: separate;
    padding: 1em 1em 1em 1em;
    width:100%;
}

div.paymentcheckout table > tbody > tr > td {
    width:50%;
    font-size: 11pt;
}

div.paymentcheckout table > tbody > tr > td:nth-child(1) {
    text-align: right;
    padding: 0em 2em 0em 0em;
}

div.ipymeButtonsGroup button {
    margin-left: 1em;
}

div.ipymeButtonsGroup button.proceedtopay{
    float: right;
    margin-right: 1em;
}

div.paymentcheckout{
    border: solid 1px #ddd;
    border-radius: 5px;
    margin: 1em 1em 1em 1em;
}

div.paymentcheckout button.confirm{
    float:right;
}

div.spectral_button button{
    opacity: 0.20;
}

div.paymentcheckout div div.add {
    margin-top:-0.5em;
    left:12%;
}

div.paymentcheckout div div.edit {
    margin-top:-0.5em;
    left:calc(12% + 70px);
    left:-webkit-calc(12% + 70px);
}