@import 'shop.css';

div.basket {
    margin:0em 1em 2em 1em;
}

div > table {
    border-collapse: separate;
    width:80%;
    margin:0% 10% 0% 10%;
    border:solid 1px red;
}

div.ipymeButtonsGroup button {
    margin-left: 1em;
}

div.ipymeButtonsGroup button.proceedtopay{
    float: right;
    margin-right: 1em;
}

div.paymentcheckout{
    border: solid 1px;
    border-radius: 5px;
    margin: 1em 1em 1em 1em;
}

div.paymentcheckout h4{
    clear:both;
    font-weight: bold;
}

div.paymentcheckout p{
    clear:both;
    text-align: initial;
}

div.paymentcheckout fieldset {
    padding: 1em 1em 1em 1em;
}

div.paymentcheckout input {
    height: 1em;
    float:left;
}

div.paymentcheckout label {
    float:left;
    width:30%;
    text-align: right;
    margin-right:1em;
}

div.paymentcheckout button.confirm{
    float:right;
}