div.container{
    position:relative;
    top:1em;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    font-family: sans-serif;
    font-size: 9px;
}

div.container table{
    border-collapse: initial;
    width:100%;
}

div.container table td {
    vertical-align: top;
}

div.container td.ipymeLeftPanel {
    position: relative;
    width:18%;
    padding: 1em 0.3em 1em 0.2em;
}

div.container td.ipymeCategory {
    padding: 1em 0.3em 1em 0.2em;
}

div.container td.ipymeCategory div#categorytree {
    min-width:15em;
    max-width:15em; 
    height:24em;
    /*padding-left: 2em;*/
}

div.container td.ipymeLeftPanel > div {
    border-radius: 3px;
    position:relative;
}

div.container td.ipymeLeftPanel > div > ul {
    margin:0px 0px 0px 0px;
}

div.container td.ipymeLeftPanel > div > ul > li {
    list-style: none;
    margin:1px 0px 1px 0px;
}

div.container td.ipymeLeftPanel > div > ul > li > button.ipymeButton {
    margin:0;
    width:100%;
    text-align: left;
    border:none;
}

div.container td.ipymeRightPanel{
    width:100%;
    position: relative;
    padding: 1em 0em 1em 1em;
}

div.gridStyle {
    border:solid 1px #ccc;
    border-radius: 6px;
    padding-right:3px 6px 3px 6px;
    width: 98%;
    height: 20em;
    position:relative;
}