*{font-size:10px;padding:0;margin:0;}

div.adminmenu *{
    font-size:13px;
    font-weight:bolder;
}

div.adminmenu ul {
    margin:0px 0px 0px 0px;
}

div.adminmenu {
    width:100%;
    height:40px;
    color:white;
    background:#404040;
    background:rgba(0,0,0,0.73);
    font-family:sans-serif!important;
    border-bottom:1px solid rgba(225,225,225,0.3);
    -webkit-transition:top 0.2s ease-in-out;
    -moz-transition:top 0.2s ease-in-out;
    -o-transition:top 0.2s ease-in-out;
    -ms-transition:top 0.2s ease-in-out;
    transition:top 0.2s ease-in-out;
} 

div.adminmenu > ul > li {
    float:left;
    height:40px;
}

div.adminmenu > ul > li.user {
    float:right;
}

div.adminmenu > ul > li.submenu > a {
    padding-right:10px
}

div.adminmenu > ul:nth-child(1) > li.submenu > a:after {
    content:" ";
    display:block;
    position:absolute;
    right:7px;
    top:22px;
    opacity:0.4;
    border:3px solid transparent;
    border-top-color:#fff;
    -webkit-transition:opacity 0.3s linear;
    -moz-transition:opacity 0.3s linear;
    -ms-transition:opacity 0.3s linear;
    -o-transition:opacity 0.3s linear;
    transition:opacity 0.3s linear;
}

div.adminmenu li span {
    padding-right:10px;
}

div.adminmenu li a {
    color: #bbb;
    text-decoration:none;
    display:block;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
    transition:all 0.3s linear;
}

div.adminmenu>ul:first-child> li:first-child> a {
    color: #fff;
}

div.adminmenu ul ul{
    top: -99999em;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    min-width:240px;
    background:rgba(0,0,0,0.85);
    position:absolute;
    left:0;
    padding:0;
    padding-bottom:10px;
    margin:0;
    -webkit-box-shadow:0 0 30px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 30px rgba(0,0,0,0.4);
    box-shadow:0 0 30px rgba(0,0,0,0.4);
    -webkit-transition:opacity 0.4s ease-in-out;
    -moz-transition:opacity 0.4s ease-in-out;
    -o-transition:opacity 0.4s ease-in-out;
    -ms-transition:opacity 0.4s ease-in-out;
    transition:opacity 0.4s ease-in-out;
    z-index: 1000;
}

div.adminmenu  ul li:hover ul{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
    opacity:1!important;
    top:40px!important;
}

div.adminmenu li{cursor:pointer !important;
line-height:40px;
}

div.adminmenu > ul > li > a:hover{
    color:#fff;
    background-color:rgba(225,225,225,0.1);
    -webkit-box-shadow:inset 0 0 10px rgba(0,0,0,0.3);
    -moz-box-shadow:inset 0 0 10px rgba(0,0,0,0.3);
    box-shadow:inset 0 0 10px rgba(0,0,0,0.3);
    text-shadow:0 -2px 0 rgba(0,0,0,0.8)
}



div.adminmenu ul li{position:relative;list-style:none}

div.adminmenu span {
    padding-left:10px;
    line-height: 0px;
}

div.adminmenu li > span {
    color:#555;
}

div.adminmenu ul ul li a{display:block;
           margin-bottom:1px
}

div.adminmenu ul ul li a:hover{
    background-color:rgba(225,225,225,0.2);
    -webkit-box-shadow:inset 0 0 10px rgba(0,0,0,0.3);
    -moz-box-shadow:inset 0 0 10px rgba(0,0,0,0.3);
    box-shadow:inset 0 0 10px rgba(0,0,0,0.3);
    text-shadow:0 -2px 0 rgba(0,0,0,0.8);
}

div.adminmenu ul li:hover{background:rgba(225,225,225,0.1)}

div.adminmenu > ul > li:first-child > ul > li > a{
    padding:0 10px 0 42px;
    cursor:pointer;
    text-align:left !important;
}

div.adminmenu > ul:first-child > li:first-child  {padding-right:2px;padding-left:2px}
div.adminmenu > ul:first-child > li:first-child > a > span {
    font-size:24px;
    top:4px;
    padding-right: 30px;
    position:relative;
}

div.adminmenu > ul:first-child > li:first-child > a:after   {
    content:" ";
    display:block;
    position:absolute;
    opacity:0.8;
    right:15px;
    top:22px;
    width:0;
    border-top:4px solid white !important;
    border:5px solid transparent;
}

div.adminmenu li.submenu ul li.submenu ul {
    display:none;
    position:absolute;
    left:220px;
    margin-top:-40px;
}

div.adminmenu li.submenu ul li.submenu:after{
    content:" ";
    display:block;
    position:absolute;
    opacity:0.8;
    right:20px;
    top:17px;
    width:0;
    border-left:3px solid #ccc !important;
    border:4px solid transparent;
}

div.adminmenu li.submenu ul > li:hover.submenu> ul {
    display:block;
}

div[class*="icon_"]  {
    height:31px;
    width:31px;
    top:4px;
    left:6px;
    border:0;
    position: absolute;
    background-image: url("images/shopicons.png");
}

div.icon_settings {background-position: -97px -97px;}
div.icon_sale { background-position: -65px -65px;}
div.icon_product {  background-position: -193px -193px;}
div.icon_purchase {  background-position: -161px -161px;}
div.icon_delivery {  background-position: -225px -225px;}
div.icon_payment {  background-position: -1px -1px;}