p.ipymeTitle {
    /*margin:0px 0px 0.2em 0px;*/
}

*{font-size:10px;padding:0;margin:0;}

body {
    background-color: rgb(39, 57, 83);
}

div.shopmenu *{
    font-size:13px;
    font-weight:bolder;
}

div.shopmenu ul {
    margin:0px 0px 0px 0px;
}

div.shopmenu > ul > li {
    float:left;
    height:25px;
}

div.shopmenu {
    width:100%;
    height:25px;
    color:white;
    background-color:rgb(150, 165, 162);
    font-family:sans-serif!important;
    border-bottom:1px solid rgba(225,225,225,0.3);
    -webkit-transition:top 0.2s ease-in-out;
    -moz-transition:top 0.2s ease-in-out;
    -o-transition:top 0.2s ease-in-out;
    -ms-transition:top 0.2s ease-in-out;
    transition:top 0.2s ease-in-out;
}

div.adminmenu > ul:first-child > li:first-child > a > span {
    font-size:13px;
    top:0px;
    padding-right: 30px;
    position:relative;
}

div.shopmenu > ul:nth-child(1) > li.submenu > a:after {
    border:none;
}

div.shopmenu li span {
    padding-right:10px;
}

div.shopmenu li a {
    color: rgb(243, 230, 78);
    text-decoration:none;
    display:block;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
    transition:all 0.3s linear;
}

div.shopmenu ul ul{
    top: -99999em;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    min-width:160px;
    background:rgba(6, 27, 25, 0.88);
    position:absolute;
    left:0;
    padding:0;
    padding-bottom:3px;
    margin:0;
    -webkit-box-shadow:0 0 30px rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 30px rgba(0,0,0,0.4);
    box-shadow:0 0 30px rgba(0,0,0,0.4);
    -webkit-transition:opacity 0.4s ease-in-out;
    -moz-transition:opacity 0.4s ease-in-out;
    -o-transition:opacity 0.4s ease-in-out;
    -ms-transition:opacity 0.4s ease-in-out;
    transition:opacity 0.4s ease-in-out;
    z-index: 1000;
}

div.shopmenu  ul li:hover ul{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter:alpha(opacity=100);
    opacity:1!important;
    top:25px!important;
}

div.shopmenu li{cursor:pointer !important;
line-height:25px;
}



div.shopmenu ul li{position:relative;list-style:none}

div.adminmenu > ul > li:first-child > ul > li > a{
    padding:0 10px 0 12px;
    cursor:pointer;
    text-align:left !important;
}

div.shopmenu span {
    padding-left:10px;
    line-height: 0px;
}

div.shopmenu li > span {
    color:#555;
}

div.shopmenu ul ul li a{display:block;
           margin-bottom:1px
}

div.shopmenu ul ul li a:hover{
    background-color:rgba(225,225,225,0.2);
    -webkit-box-shadow:inset 0 0 10px rgba(0,0,0,0.3);
    -moz-box-shadow:inset 0 0 10px rgba(0,0,0,0.3);
    box-shadow:inset 0 0 10px rgba(0,0,0,0.3);
    text-shadow:0 -2px 0 rgba(0,0,0,0.8);
}

div.adminmenu > ul:first-child > li:first-child > ul > li {
    background: none;
}

div.shopmenu ul li:hover{background:rgba(225,225,225,0.1)}

div.shopmenu li.submenu ul li.submenu ul {
    display:none;
    position:absolute;
    left:130px;
    margin-top:-25px;
}

div.shopmenu li.submenu ul li.submenu:after{
    content:" ";
    display:block;
    position:absolute;
    opacity:0.8;
    right:30px;
    top:10px;
    width:0;
    border-left:3px solid #ccc !important;
    border:4px solid transparent;
}

div.shopmenu li.submenu ul > li:hover.submenu> ul {
    display:block;
}

div.ipymeshop div.ipymeshopbody {
    background-color: rgb(244, 255, 246);
    margin-top:1em;
    margin-left:10%;
    margin-right:10%;
    min-width: 78em;
    padding:1em 0em 1em 0em;
}

div.ipymeshop div.carousel {
    width:100%;
    max-width: 600px;
    max-height: 150px;
    margin:auto;
}

div.ipymeshop div.carousel-content {
    margin:2px 2px 2px 2px;
    border-radius: 7px;
    border:solid 1px rgb(230, 230, 230);
    padding:4px 4px 4px 4px;
    max-height: 125px;
}

div.ipymeshop div.carousel-content > table > tbody > tr > td+td {
    width:100%;
}

div.carousel-details p {
    text-align: left;
    padding-left: 20px;
    color:#555;    
}

div.carousel-details p:nth-child(1) {
    font-size: initial;
    font-weight: bold;
}

div.carousel-details p:nth-child(2) {
    padding-right: 50px;
    font-size: 9pt;
}

div.carousel-details  p:nth-child(3) {
    font-size: 2em;
    font-weight: bold;
    padding-right: 45px;
    text-align: right;
    color:rgb(15, 87, 84);
}

div.ipymeshop div.carousel ol.carousel-indicators{
    border-radius: 10px;
    padding: 4px 10px 4px 5px;
    background: rgba(0, 0, 0, 0.35);
}

div.ipymeshop div.carousel ol.carousel-indicators > li:hover{
    cursor: pointer;
}

div.ipymeshop div.carousel a.carousel-control {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.20);
}

div.ipymeshop div.carousel div.carousel-content img {
    max-width:150px;
    max-height: 125px;
    height:150px;
}

div.ipymeshopcolumns {
    position:relative;
}

div.ipymeshopcolumns > table {
    width:100%;
}

div.ipymeshopcolumns > table > tbody > tr > td {
    vertical-align: top;
    padding-top:1em;
    display:table-cell;
}

div.ipymeshopcolumns > table > tbody > tr > td:nth-child(1) {
    width: 12%;
    min-width:10em;
    padding: 1em 1em 1em 1em;
}

div.ipymeshopcolumns > table > tbody > tr > td:nth-child(2) {
    width: 82%;
}

div.ipymeshopcolumns > table > tbody > tr > td:nth-child(3) {
    width: 15%;
    min-width:27em;
    padding: 1em 1em 1em 1em;
}

div.ipymeshopleft {
    width: 14em;
    width:100%;
    border:solid 1px #bbbbbb;
    border-radius: 5px;
    padding-right:2px;
}

div.ipymeshopleft  ul{
    margin:0;
}

div.ipymeshopleft > ul{
    border: 1px solid rgb(100,100,100);
    padding: 0em 0.2em 0.2em 0.2em;
    display: block;
    margin: 0.2em 0em 1em 0.2em;
    border-radius: 3px;

}

div.ipymeshopleft > ul > li{
    text-align: center;
    font-weight: bold;
    color:black;
}

div.ipymeshopleft > ul > li > ul li{
    background-color: rgb(231, 231, 231);
    color:#444444;
    cursor: pointer;
}

div.ipymeshopleft > ul > li > ul li.selected{
    background-color: rgb(255, 205, 100);
}

div.ipymeshopleft > ul > li > ul li.selected:hover{
    background-color: rgb(225, 180, 100);
}

div.ipymeshopleft > ul > li > ul li:hover{
    background-color: rgb(183, 207, 221);
}

div.ipymeshopleft > ul li{
    list-style: none;
}

div.ipymeshopcenter {
    width:100%;
    position:relative;
}

div.ipymeshopcenter > ul {
    margin: 0;
}

div.ipymeshopcenter > ul > li {
    background-color:rgb(240, 240, 240);
    list-style: none;
    margin:0px 0px 1em 0px;
    padding:0.5em 0em 0.5em 0em;
    border:solid 1px rgb(221, 221, 221);
}

div.ipymeshopcenter > ul > li:hover {
    background-color:rgb(232, 255, 241);
}

div.ipymeshopcenter > ul > li > table > tbody > tr > td > a > img {
    height:100px;
    width:100px;
    max-width:100px;
}

div.ipymeshopcenter > ul > li > table > tbody > tr:nth-child(1) > td+td {
    width:100%;
}

div.ipymeshopcenter > ul > li > table > tbody > tr:nth-child(1) > td+td span{
    font-weight: bold;
}

div.ipymeshopcenter > ul > li > table > tbody > tr td {
    padding:0em 1em 0em 1em;
}

div.ipymeshopcenter > ul > li > table > tbody > tr td span {
    font-size:10pt;
    color:#222;
}

div.ipymeshopcenter > ul > li > table > tbody > tr:nth-child(2) > td > span:first-child {
    font-size: 8pt;
}

div.ipymeshopcenter > ul > li > table > tbody > tr:nth-child(2) > td > span:nth-child(2) {
    font-size: 10pt;
    font-weight: bold;
    color:rgb(15, 87, 84);
}

div.ipymeshopcenter > ul > li > table > tbody > tr:nth-child(3) > td {
    text-align: right;
    padding:0em 1em 0em 0em;
    vertical-align: bottom;
}

div.ipymeshopcenter > ul > li > table > tbody > tr:nth-child(3) > td > input {
    height:1em;
    border:1px solid #aaa;
    position:relative;
    top:0.3em;
}

div.ipymeshopcenter > ul > li input {
    background-color: #eee;
    width:2.3em;
}

div.ipymeshopright {
    width:100%;
    border:solid 1px #bbbbbb;
    border-radius: 5px;
    right: 3px;
    position: relative;
    color:#222;
    padding-bottom: 0.5em;
}

div p.baskettotal {
    font-size: 1.5em;
    font-weight: bold;
    text-align: right;
    padding-right: 1em;
    background-color: rgb(183, 226, 214);
}

div.ipymeshopright div.productlist {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 1px;
}

div.productlist  > ul {
    margin:0.5em;
}

div.productlist  > ul > li {
    list-style: none;
    background-color:rgb(231, 231, 231);
    margin:0em 0em 0.1em 0em;
    position:relative;
    border-radius: 2px;
}

div.productlist  > ul > li > table {
    width:100%;
}

div.productlist  > ul > li > table > tbody > tr > td {
    vertical-align: top;
}

div.productlist  > ul > li > table > tbody > tr > td:nth-child(1) {
    white-space: nowrap;
    padding:0px 0.5em 0px 0px;
}

div.productlist  > ul > li > table > tbody > tr > td:nth-child(2) {
    width:100%;
    max-width:100px;
}

div.productlist  > ul > li > table > tbody > tr > td:nth-child(3) {
    font-weight: bolder;
    white-space: nowrap;
}

div.productlist  > ul > li > table > tbody > tr > td:nth-child(4) {
    min-width:2em;
    padding-right: 0.5em;
    padding-left: 1em;
}

div.productlist  > ul > li > div > span {
    font-size: 10pt;
    line-height: 2em;
}

div.productlist  > ul > li:hover {
    background-color:white;
    cursor: default;
}

div.ipymeshopcenter div.basketquantity {
    color:white;
    margin: 0em 1em 0em 0em;
    float:right;
}

button.addtobasket {
    float: right;
}

button.checkout{
    width:96%;
    margin:2%;
}

div.ipymeproduct  {
    border:solid 1px black;
    margin: 1em 1em 1em 1em;
}

div.ipymeproduct > table {
    width:100%;
}

div.ipymeproduct > table > tbody > tr td {
    vertical-align: top;
    padding: 1em 1em 1em 1em;
}

div.ipymeproduct > table > tbody > tr > td:nth-child(1) {
    width:65%;
}

div.ipymeButtonsGroup {
    display: inline;
}

div.ipymeproduct div.basketquantity{
    float:right;
    margin-right: 1em;
}

button.addtobasket {
    float:right;
}

div.ipymeshoptopbar{
    /*margin-top: 30px;*/
    background-color:rgba(0,0,0,0.4);
    color:#ccc;
    text-align: right;
    height: 30px;
}

div.ipymeshoptopbar > ul {
   margin:0;
}

div.ipymeshoptopbar > ul li{
    padding: 0px 5px 0px 5px;
    height:30px;
    list-style: none;
    position: relative;
    border: solid 1px rgb(77, 77, 77);
    border-radius: 2px;
    
    margin:-1px 0px 0px 5px;
    line-height: 30px;
    float:right;
}

div.ipymeshoptopbar > ul > li a{
    text-decoration: none;
}

div.ipymeshoptopbar > ul > li span {
    font-size: 14px;
    font-weight: bold;
    color: yellow;
}

div.ipymeshoptopbar > ul > li:hover {
    background-color: rgb(26, 43, 51);
    cursor: pointer;
}

div.ipymeshoptopbar > ul > li:hover span{
    color:rgb(158, 230, 131);
}

div.ipymeshoptopbar > ul > li.logout{
    padding-right: 25px;
    background: url('images/logout.png') 95% 45%  no-repeat;
}

div.ipymeshoptopbar > ul > li.admin{
    padding-right: 35px;
    background: url('images/admin.png') 95% 45%  no-repeat;
}

div.ipymeshoptopbar > ul > li.user{
    padding-right: 25px;
    background: url('images/user.png') 95% 45%  no-repeat;
}

div.ipymeshoptopbar > ul > li.shopmain{
    margin-left:0px;
    background: url('images/shopping.png') 95% 45%  no-repeat;
    float:left;
    padding-right: 25px;
}

div.tabbable div.tab-content{
    /*border:solid 4px red;*/
    border-bottom: solid 1px #ddd;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    border-radius: 5px;
    padding: 1em;
}
div.tabbable ul {
    margin:0;
}

div.tabbable div.tab-pane {
    padding:1em;
    margin:1em;
}

div.tabbable .nav-tabs li{
    font-weight: bold;
}

div.tabbable .nav-tabs li:hover{
    cursor:pointer;
}

div.tabbable .nav-tabs li a{
    color:#777;
}

div.tabbable .nav-tabs li:hover a{
    color:#333;
}

div.tab-pane input {
    height: 1em;
    float:left;
}

div.tab-pane table {
    margin:auto;
}

div.tab-pane table select {
    height:1.75em;
    line-height: 0.5em;
    padding:0;
}

div.tab-pane table button {
    margin:0;
}

div.tab-pane table > tbody > tr > td > button.shop {
    margin-top: 1em;
}

div.tab-pane table > tbody > tr > td > button.edit {
    float:right;
}
div.tab-pane table > tbody > tr > td > button.new {
    float:left;
}

div.modal-body table > tbody > tr > td:nth-child(1),
div.tab-pane table > tbody > tr > td:nth-child(1) {
    padding-right: 2em;
    text-align: right;
    font-size: 1.2em;
    font-weight: bold;
}

div.tab-pane table > tbody > tr > td:nth-child(2) {
    font-size: 1.6em;
    color:black;
    padding:0.1em 0em 0.1em 1em;
    margin:0.5em;
    border-spacing: 1em
}

div.select2-container img {
    margin-right:1em;
}

div.modal-body {
    overflow: hidden;
}

div.loading_blanket {
    display:block;
    position:absolute;
    z-index: 10;
    width:100%;
    background-color: rgba(38, 49, 60,0.99);
    height:100%;
}

div.loading_blanket > table {
    width:70%;
    margin:auto;
    margin-top:300px;
}

div.loading_blanket > table p {
    font-size: 12pt;
    color:white;
}